html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

.masthead {
	background-image: url("../images/beetle.svg"), url("../images/beetle.svg"), url("../images/masthead-bg.png");
	background-size: 75px auto, 75px auto, 200px auto;
	padding-top: 6em;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left 10px, right 10pt, left top;
}

.sqr {
	width: 50%
}
