html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

header {
	margin: 0;
	padding: 0;
}

h1 {
	color: #512200;
	font-weight: bold;
	font-size: 36pt;
	text-align: center;
	display: block;
	margin: 0;
	padding-bottom: 10px;
}

.masthead {
	background-image: url("../images/beetle.svg"), url("../images/beetle.svg"), url("../images/masthead-bg.png");
	background-size: 50px auto, 50px auto, 94.5px auto;
	padding-top: 1em;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: left 20px, right 15pt, left top;
}

.bannerwrap {
	position: relative;
	clear: both;
}

.banner {
	width: 100%;
	display: block;
}

.banner-text {
	background-image: linear-gradient(to bottom, rgba( 0, 0, 0, 0), rgba( 0, 0, 0, 0.5));
	font-size: 18pt;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	padding-top: 2em;
	padding-bottom: 1em;
	color: #fff;
	text-align: center;
	width: 100%;
	margin: 0;
}

nav {
	background-color: rgba( 81,34,0, 0.5);
	width: 100%;

}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 24.2%;
}

.nav:hover {
	background-color: rgba( 81,34,0, 0.5);
}

nav a {
	color: #fff;
	font-size: 15pt;
	text-decoration: none;
}


.sqr {
	width: 50%
}

.left {
	float: left;
}

.right {
	float: right;
}


.btn:hover {
	background-color: #388200;
	background-image: linear-gradient(to bottom, #388200, #214D00)
}


.allbtns {
	display: block;
}

.beetle img {
	width: 100%;
	display: block;
}

.beetle {
	width: 50%;
	float: left;
	position: relative;
}

.beetle a {
	width: 50%;
	display: inline-block;
	padding: 0.5em 0.75em;
	text-decoration: none;
	border-radius: 15px;
	color: #fff;
	background-color: #6FC000;
	background-image: linear-gradient(to bottom, #6FC000, #388200);
	position: absolute;
	text-align: center;
	left: 25%;
	bottom: 5%;
	box-shadow: 2px 2px 2px #000;
}
footer {
	background-image: url("../images/beetle.svg");
	background-color: rgba( 81,34,0, 0.5);
	background-size: 30px auto;
	padding-bottom: 40px;
	background-repeat: no-repeat;
	background-position: center;
	clear: both;
}


